<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Dynamix Liquibase"
            id="LiquibaseWizard">
      </category>
      <wizard
            name="Liquibase file from SQL"
            icon="icons/lb1.png"
            category="LiquibaseWizard"
            class="liquibasewizard.wizards.SampleNewWizard"
            id="liquibasewizard.wizards.SampleNewWizard">
      </wizard>
   </extension>

</plugin>
